<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= body %></p>
    <p>
      <a href="/222/">单击这里进入歌单管理界面</a>
    </p>
  </body>
</html>
